body {
    font: 24px/1.5 "Minion Pro", sans-serif;
    color:whitesmoke;
    font-weight:300;
    padding:0 !important;
    margin: 0;
    background: rgba(152,166,175,1);
    background: -moz-linear-gradient(-45deg, rgba(152,166,175,1) 0%, rgba(124,133,139,1) 9%, rgba(96,100,103,1) 18%, rgba(80,84,88,1) 34%, rgba(13,17,24,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(152,166,175,1)), color-stop(9%, rgba(124,133,139,1)), color-stop(18%, rgba(96,100,103,1)), color-stop(34%, rgba(80,84,88,1)), color-stop(100%, rgba(13,17,24,1)));
    background: -webkit-linear-gradient(-45deg, rgba(152,166,175,1) 0%, rgba(124,133,139,1) 9%, rgba(96,100,103,1) 18%, rgba(80,84,88,1) 34%, rgba(13,17,24,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(152,166,175,1) 0%, rgba(124,133,139,1) 9%, rgba(96,100,103,1) 18%, rgba(80,84,88,1) 34%, rgba(13,17,24,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(152,166,175,1) 0%, rgba(124,133,139,1) 9%, rgba(96,100,103,1) 18%, rgba(80,84,88,1) 34%, rgba(13,17,24,1) 100%);
    background: linear-gradient(135deg, rgba(152,166,175,1) 0%, rgba(124,133,139,1) 9%, rgba(96,100,103,1) 18%, rgba(80,84,88,1) 34%, rgba(13,17,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98a6af', endColorstr='#0d1118', GradientType=1 );
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Monaco, sans-serif;
    font-weight:300;
    text-transform:uppercase;
    letter-spacing:normal;
}

body div {
    margin: 0 auto;
    padding-top: 100px;
    width: 70%;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}