@font-face {
    font-family: "Minion Pro";
    src: url(/fonts/minionpro-regular.otf) format("otf");
}

body {
    font: 24px/1.5 "Minion Pro", sans-serif;
    color:whitesmoke;
    font-weight:300;
    padding:0 !important;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Monaco, sans-serif;
    font-weight:300;
    letter-spacing:normal;
}

h1, h2 {
    text-transform:uppercase;
}

.section {
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}

#emailButton {
    font: 20px/1.5 "Minion Pro", sans-serif;
    color:whitesmoke;
    font-weight:300;
    background-color: transparent;
    border: none;
}

a.button, #emailButton{
    font-size:27px;
    text-transform:uppercase;
    text-decoration:none;
    padding:10px 40px;
    font-weight:300;
    position:relative;
    box-sizing:border-box;
    display:inline-block;
    cursor:pointer;
    color: #98a6af;
    -webkit-transition: all 0.35s ease-in-out 0.25s;
    transition: all 0.35s ease-in-out 0.25s;
}
a.button:hover, #emailButton:hover {
    background-color: whitesmoke;
    color: #a25307;
}
a.button > span, #emailButton > span {
    background-color: whitesmoke;
    position: absolute;
    -webkit-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}
span[position="top"] {right: 30%;}
span[position="bottom"] {left: 30%;}
span[position="right"] {bottom: 30%;}
span[position="left"] {top: 30%;}
span[position="top"], span[position="right"] {top: 0;}
span[position="bottom"], span[position="left"] {bottom: 0;}
span[position="bottom"], span[position="right"] {right: 0;}
span[position="top"], span[position="left"] {left: 0;}
span[position="bottom"], span[position="top"] {height: 2px;}
span[position="right"], span[position="left"] {width: 2px;}

a.button:hover span[position="top"], #emailButton:hover span[position="top"] {right: 0;}
a.button:hover span[position="bottom"], #emailButton:hover span[position="bottom"] {left: 0;}
a.button:hover span[position="left"], #emailButton:hover span[position="left"] {top: 0;}
a.button:hover span[position="right"], #emailButton:hover span[position="right"] {bottom: 0;}

#menu{
    position:fixed;
    width:100%;
    top:-100px;
    left:0;
    z-index:101;
    text-align:center;
    background-color: #a25307;
    -webkit-transition:all 0.25s ease 0.25s;
    transition:all 0.25s ease 0.25s;
}
#main-menu{padding:20px 0;margin:0;}
#menu li{display:inline-block;margin: 0 20px;}
#menu li a{color:whitesmoke;font-size:20px;text-decoration:none;position:relative;}
#menu li a:after{
    display:block;
    content:"";
    height:1px;
    background-color:whitesmoke;
    position:absolute;
    left:0;
    right:100%;
    bottom:0;
    -webkit-transition:all 0.35s cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition:all 0.35s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
#menu li a:hover:after, #menu li.active a:after{right:0;}

.toggle{
    background-color: #a25307;
    content: "";
    height: 70px;
    left: 50%;
    margin-left: -30px;
    position: fixed;
    top: -70px;
    width: 60px;
    z-index: 100;
    -webkit-transition:all 0.25s ease 0.3s;
    transition:all 0.25s ease 0.3s;
    cursor:pointer;
}

.menu-container.loaded:hover #menu, .menu-container.loaded .toggle{top:0;}
.menu-container:hover .toggle{top:-70px;}

.toggle span{
    background-color: #fff;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

.toggle span:first-child{top:40%;-webkit-transition-delay:0s;transition-delay:0s;}
.toggle span{top:50%;-webkit-transition-delay:0.15s;transition-delay:0.15s;}
.toggle span:last-child{top:60%;-webkit-transition-delay:0.3s;transition-delay:0.3s;}

.menu-container:hover .toggle span{top:-30%;}

.text ul {
    display: inline-block;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0 10px; /* Remove margins */
}

#anchor-intro {
    background: rgb(152,166,175);
    background: linear-gradient(135deg, rgba(152,166,175,1) 0%, rgba(95,99,102,1) 35%, rgba(5,11,21,1) 100%);
}